/* rubik-regular - latin_cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/rubik-v14-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/rubik-v14-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/rubik-v14-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/rubik-v14-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/rubik-v14-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/rubik-v14-latin_cyrillic-regular.svg#Rubik') format('svg'); /* Legacy iOS */
}

:root {
  --red: #E5261E;
  --grey: #333333;
}
*{
  font-family: 'Rubik';
}
.header {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-evenly;
}

.logo { 
  display: flex;
  align-items: center;
}

.logo p{
  padding-left: 10px;
  font-size: 20px;
}

.search-bar input { 
  border: 1px
}

.tabs-container {
  display: flex;
  justify-content: center;
}