/* rubik-regular - latin_cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/rubik-v14-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/rubik-v14-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/rubik-v14-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/rubik-v14-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/rubik-v14-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/rubik-v14-latin_cyrillic-regular.svg#Rubik') format('svg'); /* Legacy iOS */
}
/* rubik-500 - latin_cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/rubik-v14-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/rubik-v14-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/rubik-v14-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/rubik-v14-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
       url('/fonts/rubik-v14-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/rubik-v14-latin_cyrillic-500.svg#Rubik') format('svg'); /* Legacy iOS */
}

:root {
  --red: #E5261E;
  --grey: #333333;
}
*{
  font-family: 'Rubik';
}

::-webkit-scrollbar {
  width: 8px; 
  background-color: #F2F2F2;
}

::-webkit-scrollbar-thumb {
  background-color: #BDBDBD;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #F2F2F2;
}

.header {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-around;
}

.logo { 
  display: flex;
  align-items: center;
}

.logo p{
  padding-left: 10px;
  font-size: 20px;
}
.serach-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
}

.search-bar-input { 
  font-size: 16px;
  width: 100%;
  border: 0px;
  border-bottom: 1px solid var(--grey);
}

.serach-bar-btn {
  color: var(--red);
  background-color: white;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  margin-left: 30px;
}

.auth-btn { 
  color: white;
  background-color: var(--red);
  border: 0;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 500;
  margin-left: 16px;
}

.auth-btn-exit {
  color: var(--red);
  background-color:white ;
  border: 0;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 500;
}
.auth {
  display: flex;
  align-items: center;

}
.auth input{
  border:0;
  font-size: 16px;
}

.tabs-container {
  display: flex;
  justify-content: center;
}

.tab-btn {
  color: var(--grey);
  background-color: white;
  font-size: 28px;
  font-weight: 500;
  border: 0;
  padding: 0;
  margin: 10px;
}

.tab-btn.active{
  color: var(--red);
  border-bottom: 2px solid var(--red);
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.new-cards { 
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.new-card {
  margin: 10px;
  display: block;
  flex-direction: column;
}

.new-card img { 
  border-radius: 8px;
}

.new-card p {
  width: 270px;
  }

  
.img__wrap {
  position: relative;
}
.img__description p {
  margin: 16px;
  line-height: 140%;
  width: 250px;
}
.img__description {
  font-size: 16px;
  text-align:left;
  border-radius: 8px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #333333;
  color: #F2F2F2;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description {
  visibility: visible;
  color: #f2f2f2;
  opacity: 0.8;
}


.genre-cards { 
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.genre-card { 
  border-radius: 6px;
  text-align: center;
  box-sizing: border-box;
  color: white;
  width: 270px;
  height: 270px;
  margin: 10px;
  border-radius: 6px;
  
}
.genre-card.comedy{
  background: linear-gradient(127.83deg, #F2C94C 8.44%, #F29A4A 91.36%);
  opacity: 0.8;
  box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
}
.genre-card.comedy:hover{
  background: linear-gradient(127.83deg, #F2C94C 8.44%, #F29A4A 91.36%);
  opacity: 1;
  box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
}
.genre-card.drama { 
  background: linear-gradient(127.83deg, #F2994A 8.44%, #EB5757 91.36%);
  opacity: 0.8;
  box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
}
.genre-card.drama:hover { 
  background: linear-gradient(127.83deg, #F2994A 8.44%, #EB5757 91.36%);
  opacity: 1;
  box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
}
.genre-card.sci-fi { 
  background: linear-gradient(127.83deg, #56CCF2 8.44%, #2F80ED 91.36%);
  opacity: 0.8;
  box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
}
.genre-card.sci-fi:hover { 
  background: linear-gradient(127.83deg, #56CCF2 8.44%, #2F80ED 91.36%);
  opacity: 1;
  box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
}
.genre-card.horror { 
  background: linear-gradient(127.83deg, #828282 8.44%, #333333 91.36%);
  opacity: 0.8;
  box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
}
.genre-card.horror:hover { 
  background: linear-gradient(127.83deg, #828282 8.44%, #333333 91.36%);
  opacity: 1;
  box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
}
.genre-card p {
  font-size: 20px;
}
.genre-card h2 {
  font-size: 48px;
}

.channels-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  display: none;
}
.channel-card {
  background-color: #F2F2F2;

  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;

  align-items: center;
  display: flex;
  flex-direction: row;
  
  
}
.show{
  justify-content: baseline;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.timetable h2{
  font-size: 20px;
}

.show p { 
  margin: 0;
  margin-bottom: 1vh;
  margin-left: 5px;
  font-size: 16px;
}
.show p#time { 
  margin: 0;
  margin-bottom: 1vh;
 
}
.channel-card svg {
  width: 50vh;
  height: 6vh;
}

.footer{
  background-color: #F2F2F2;
  position:relative;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* text-align:left; */
  justify-content: center;
  padding-top:1%;
  padding-bottom:1%;
}
.footer-logo{
  margin-right: 5vh;
  
}
.footer-text{
  width: 110vh;
}
.footer-text footer {
  margin-bottom: 1vh;
}
.footer-text footer#last-footer {
  margin-bottom: 1.5vh;
}
.footer-text a {
  color: #1F4766;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}
.popup-container {
  background-color: rgba(0,0,0,0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 9999;
}
.popup{
  height: 350px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
}

.popup h2 {
  color: var(--grey);
}

.popup-input {
  width: 99%;
  border: 0px;
  border-bottom: 1px solid var(--grey);
  font-size: 16px;
  margin-bottom: 30px;
}

.popup-checkbox {
  width: 100%;
  display:flex;
  font-size: 16px;
  flex-direction: row;
  align-items: center;
  
}

.popup-checkbox input{
  margin-left: 0;
}

.popup button {
  color: white;
  background-color: var(--red);
  border: 0;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 500;
  height: 36px;
  width: 128px;
  margin-top: 130px;
  margin-bottom: 50px;
}